@import url('https://fonts.googleapis.com/css2?family=Pattaya&display=swap');
body {
    margin: 0px;
    background-color: rgb(214, 46, 80);
}
.gp {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
h1 {
    font-family: 'Pattaya', sans-serif; 
    text-align: center;
    font-size: xxx-large;
    margin-top: 10px;
    border-bottom:3px ridge rgb(190, 126, 228);
    box-shadow: 3px 5px 6px ;
    color: rgb(202, 200, 201);
}
 img {
     width: 300px;
     height: 300px;
     margin: 10px;
     border-radius: 25px;
     transition: all 1s;
 }
 img:hover {
     transform: scale(1.1);
     cursor: pointer;
 } 
 h1:hover {
     color: whitesmoke;
     cursor: pointer;
 } 
 

     
     
